<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      U1922414E Camera Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
      {{sending}}
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button (click)="TakePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="imageSend()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>